<mat-card style="background-color: #f8f9fa; padding: 0; margin-bottom: 20px;">
  <nav class="navbar navbar-expand-sm navbar-inverse">
    <div class="container-fluid">

      <ul class="nav">
        <div class="navbar-header">
          <h5><a class="navbar-brand" routerLink="">
            <img src="../../../favicon.ico" alt="Logo" style="width:40px;">CY-OB Tickets</a>
          </h5>
        </div>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="affiches">Affiches</a></li>
        <li [hidden]="!isAdminConnected" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="affiches/ajout">Nouvelle affiche</a></li>
        <li [hidden]="!isAdminConnected" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="films">Les films</a></li>
        <li [hidden]="!isAdminConnected" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="films/ajout">Nouveau film</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [hidden]="isAdminConnected" routerLinkActive="active">
          <a class="nav-link" routerLink="connexion">Connexion</a></li>
        <li [hidden]="!isAdminConnected" routerLinkActive="active" (click)="deconnexion()">
          <a class="nav-link" routerLink="">Déconnexion</a></li>
      </ul>
    </div>
  </nav>
</mat-card>

